body


html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Sarabun', sans-serif;
  background-image: url("blurred.jpg");
  background-size: cover;
  align-content: center;
  }

h1{
	color: #504d92;
	background-color:rgba(87,60,123,0.1);
	text-align:center;
	margin-top: 20px;
	padding: 10px 0px;
  }

.container{
	display: flex;
	justify-content: center;
  }

.btn-info{
	border-radius: 12px;

}

.btn-info:hover {
  box-shadow: 12px 12px 12px 0 rgba(0,0,0,0.24), 17px 17px 17px 0px rgba(0,0,0,0.19);
}